* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 
    'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: linear-gradient(135deg, #ebede8, #70706e);
    height: 100vh;
}

h2 {
    margin-top: 10px;
}

.entireGrid {
    display: grid;
    grid-template-columns: 225px 1.5fr;
    width: 80vw;
}

.leftGrid{
    grid-area: 1/1/2/2;
}

.rightGrid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    width:auto;
}

.addBookTile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: rgb(160, 160, 168);
    border-radius: 10px;
    padding: .8rem;
    gap: 6px;
    height: 275px;
    width: 225px;
    margin-top: .5rem;
}
.label {
    margin-bottom: -5px;
}

.tile {
    display:flex;
    flex-direction: column;
    padding: 8px;
    background: rgb(112, 121, 153);
    margin: .5rem 0.6rem .6rem .6rem;
    gap: 10px;
    border-radius: 10px;
    color: #fff;
    font-size: 1.1rem;
    height: 150px;
    width: 225px;
    justify-content: space-between;
}
.buttonContainer {
    display: flex;
    justify-content: space-between;
    align-content: center;
    height: 40px;
    /* justify-self: flex-end; */
}

.delete {
    border-radius: 100%;
    color: white;
    background-color: rgb(177, 22, 22);
    padding: 5px;  
    width: 30px;
    height: 30px;
    align-self: center;
    text-align: center;
}
.delete:hover {
    background-color: black;
    cursor: pointer;
}

.toggle {
    margin-top: 4px;
    /* text-align: center; */
    align-self: center;
    padding:6px;
    background-color: rgb(113, 115, 116);
    border-radius: 25px;
}

.toggle:hover {
    background-color: rgb(53, 102, 207);
    border-radius: 25px;
    cursor: pointer;
}

button {
    border-radius: 25px;
    color: white;
    background-color: rgb(42, 96, 212);
    padding: .6rem;   
    margin-top: 5px;
    width: 90px;
    align-self: center;
}

button:hover {
    border-radius: 25px;
    color: white;
    background-color: rgb(7, 36, 98);
    padding: .6rem;   
    cursor: pointer;
    margin-top: 5px;
    justify-self: center;
    align-self: center;
}

input {
    border-radius: 10px;
    padding: 4px;
}